.about-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.about-left-img {
  width: 259px;
  height: 238px;
  float: inline-end;
}

.about-right-img {
  width: 252px;
  width: 208px;
  position: relative;
  top: 38rem;
}

.about-center-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.about-center-container p {
  text-align: center;
  font-size: x-large;
  color: dimgray;
}

.about-viki-img {
  height: 125px;
  width: 125px;
}

@media all and (max-width: 1024px) {
  .about-left-img {
    display: none;
  }
  .about-right-img {
    display: none;
  }
  .about-main {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .about-center-container h1 {
    text-align: center;
    font-size: x-large;
  }
  .about-center-container {
    /* padding-top: 0px; */
    gap: 2rem;
  }
}
