.Private-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

.Private-main p {
  width: 28rem;
  font-size: large;
}

@media all and (max-width: 1024px) {
  .Private-main p {
    width: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: x-large;
  }
}
