.ArrowDown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-radius: 200px;
  height: 60px;
  width: 60px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ArrowDown-icon {
  height: 35px;
  width: 35px;
}
