.navContainer {
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navContainer-ul-left {
  display: flex;
  list-style: none;
  font-size: x-large;
}

.navContainer-ul-right {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: x-large;
}

.nav-a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}

.nav-a:hover {
  color: rgb(171, 171, 171);
}
